version: '3.4'

services:
  webapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "5000:5000"
  logstash:
    ports:
      - "9000:9000/udp"
  elastic:
    ports:
      - "9200:9200"
      - "9201:9201"
  kibana:
    ports:
      - "9500:9500"