<?xml version="1.0" encoding="utf-8" ?>
<nlog
	internalLogLevel="Info"
	internalLogToConsole="true">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target
			type="BufferingWrapper"
			name="logstash"
			bufferSize="3">
			<target
				type="Network"
				name="logstash-net"
				onOverflow="Error"
				onConnectionOverflow="AllowNewConnnection"
				sslProtocols="None"
				address="udp://localhost:1111">
				<layout type="JsonLayout">
					<attribute name="@timestamp" layout="${longdate}"/>
					<attribute name="host" layout="${hostname}"/>
					<attribute name="machine" layout="${machinename}"/>
					<attribute name="pid" layout="${processid}"/>
					<attribute name="tid" layout="${threadid}"/>

					<attribute name="level" layout="${level:upperCase=true}"/>
					<attribute name="logger" layout="${logger}"/>
					
					<attribute name="httpMethod" layout="${aspnet-request-method}"/>
					<attribute name="httpUrl" layout="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}"/>
					
					<attribute name="message" layout="${message}"/>
					<attribute name="exception" layout="${exception:format=tostring}"/>
				</layout>
			</target>
		</target>
		<target
			type="Console"
			name="console"
			layout="${MicrosoftConsoleLayout}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console, logstash"/>
	</rules>
</nlog>